.digit{
    margin: auto 0 auto 10px;
    font-size: 23px;
    font-weight: 600;
}
.list-group{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25)
}
.pointer{
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}
.msme{
    width: fit-content;
    font-weight: 700;
}
.text-boldd{
  font-weight: 700;
}
input::placeholder,
input,
textarea,
.submission,
.back,
.btn,
textarea::placeholder,
select
{
  font-family: "Montserrat", sans-serif;
}
.text-bold{
  font-weight: 500;
}
.msme-table{
    overflow-x: auto;
}
/* reduce the padding on different screens */
.listing-msme{ 
    margin-top: 60px;
}
.custom-button{
    border: none;
    color: white;
    background: rgba(0, 149, 71, 1);
    border-radius: 5px;
}
.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* Ensures the text doesn't exceed the container width */
  }
  .status-pending {
    color: rgb(234, 156, 0);
  }
  
  .status-rejected {
    color: rgba(221, 44, 33, 1);
  }
  
  .status-approved {
    color: rgba(0, 149, 71, 1);
  }
  .pointer{
    cursor: pointer;
  }
.model{
    position: 'absolute';
  top: '50%';
  left: '50%';
  transform: translate(-50%, -50%);
  width: 400;
  background-color: 'background.paper';
  border: '2px solid #000';
  box-shadow: 24;
  padding: 4;
}
.button-grey{
  background-color: rgb(244, 241, 241);
}
.button-grey:hover{
  border: 1px solid rgb(225, 223, 223);
}
.animated-success {
  margin-top: -30px;
  color: green;
  font-weight: bold;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
label > span{
  color: red;
}
.modelButtonn{
  width: 170px;
}

  @media screen and (max-width:991px) {
    .listing-msme{ 
        margin-top: 30px;
    }
  }

  @media screen and (max-width:575px) {
    .listing-msme{ 
        margin-top: 10px;
    }
    .custom-button{
        font-size: 15px;
    }
  }